<div id='user-container'>
  <div class='username'> 
   <img src="{{user.data.avatar_url}}" class="avatar img-responsive"></img>
    <p class="head">{{user.data.name}}</p>
    <p class="subhead"><img src="../app/assets/octocat.png" height="40" width="40"/> <a href="https://github.com/{{user.data.login}}">{{user.data.login}}</a></p>
<!--     <p class="subhead"><img src="../app/assets/location.png" height="40" width="40"/> {{user.data.location}}</p> -->
<p class="subhead"><a href="/#/coders">See similar coders near you</a></p>
  </div>

  <div class='languages row'>
   <div class="col-md-4"></div>
  <div class="col-md-4">
    <table class='language table'>
      <tr>
        <td colspan="2">
          <p class="sectionheader">Languages</p>
        </td>
      </tr>
      <tr class='language-experience' ng-repeat='(key, value) in user.data.languages'>
        <td class='language'>
          {{key}}
        </td>
        <td class='bytes'>
          {{value}}
        </td>

      </tr>
    </table>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class='technologies row'>
     <div class="col-md-4"></div>
  <div class="col-md-4">
    <table class='technologies table'>
      <tr>
        <td colspan="2">
          <p class="sectionheader">Technologies</p>
        </td>
      </tr>
      <tr class='technology-experience' ng-repeat='(key, value) in user.data.technologies'>
        <td class='technology'>
          {{key}}
        </td>
        <td class='bytes'>
          {{value}}
        </td>

      </tr>
    </table>
       <div class="col-md-4"></div>
  </div>
  </div>

  <div class='cred row'>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <table class='cred table'>
          <tr>
        <td colspan="2">
          <p class="sectionheader">GitHub Cred</p>
        </td>
      </tr>
      <tr class='notables' ng-repeat='(key, value) in user.data.cred'>
        <td class='cred'>
          {{key}}
        </td>
        <td class='count'>
          {{value}}
        </td>

      </tr>
    </table>
     <div class="col-md-4"></div>
  </div>
  </div>

  

</div>
